*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
   overflow-x: hidden;
   /* font-family: 'Dancing Script', cursive;
   font-family: 'Kalnia', serif;
   font-family: 'Lobster', sans-serif; */
   font-family: 'Merriweather', serif;
   /* font-family: 'Oswald', sans-serif;
   font-family: 'Sevillana', cursive; */
}

::-webkit-scrollbar{
  display: none;
}